* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.889), rgba(0, 0, 0, 0.423)), url('https://images.unsplash.com/photo-1516685018646-549198525c1b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80');
    height: 100vh;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
}

.nav-bar {
    display: flex;
    padding: 40px 120px;
}

.nav-logo img {
    width: 135px;
}

.nav-links {
    flex: 1;
}

.nav-links ul {
    margin-left: 50px;
    display: inline;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 25px;
}

.nav-links ul a {
    color: rgb(114, 190, 193);
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
}

.nav-links ul li::after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: .5s;

}

.nav-links ul li:hover::after {
    width: 100%;
}

.btn {
    padding: 10px 30px;
    border: 0;
    font-weight: bold;
    cursor: pointer;
    border-radius: 12px;
}

.btn:hover {
    transform: scale(1.04);
}

.nav-links .btn {
    float: right;
}

.banner-title {
    margin: 80px 120px;
    color: white;
}

.banner-title h1 {
    font-size: 64px;
    margin-bottom: 20px;
}

.banner-title h1 span {
    color: rgb(114, 190, 193);
}

.container {
    background-color: rgba(255, 255, 255, 0.511);

}

.top-heading {
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
}



.items {
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    gap: 20px;
    font-family: sans-serif;
    padding-bottom: 15px;
}

.item {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.item:hover {
    transform: scale(1.04);
}

.responsive {

    object-fit: cover;
    display: block;
    width: 100%;
    max-width: 400px;
    height: auto;
}


.item-content {
    line-height: 1.5;
    font-size: 0.9em;
    padding: 15px;
    background: rgba(114, 190, 193, 0.511);
    
}

.item-content h4 {
    margin-top: 0;
}

.item-content p {
    margin-bottom: 0;
}

.item-info {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    color: black;
    font-size: 0.8em;
    border-bottom: solid 2px rgba(114, 190, 193, 0.511);

}

.item-info span {
    font-size: 0.9em;
    margin-right: 8px;
}

.item-link {
    color: rgb(114, 190, 193);
    text-decoration: none;
}

.middle-heading, .bottom-heading {
    padding: 15px;
    text-align: center;
}

.contributor-block {
    position: relative;
    background: rgb(255, 255, 255) url(https://images.unsplash.com/photo-1587287720536-ce7b84c23d35?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
    width: 100%;
    height: 500px;
    background-size: cover;    
}

.block-container {
    position:absolute;
    margin-top: 100px;
    margin-left: 50px;
    text-align: center;
    text-transform: uppercase;
}

.block-container h1 {
    margin: 0;
    font-size: 70px;
}

.block-container h1 span {
    border: 6px solid red;
    padding: 5px;
    display: inline-block;
}

.cen {
    margin: 20px;
    display: block;
    font-size: 26px;
    background: grey;


}

.button {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background: rgb(114, 190, 193);
    padding: 10px 50px;
    border-radius: 12px;
    cursor: pointer;
}



.footer {
    padding: 40px 0;
    background-color: #000;
    color: white;
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: white;

}

.footer .social a {
    font-size: 24px;
    color: inherit;
    border: 1px solid white;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}

.footer .social a:hover {
    opacity: 1;
    color: rgb(114, 190, 193);
}

.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer .copyright {
    text-align: center;
    margin-top: 15px;
    color: white;
}


.top-button {
    padding: 9px 25px;
    background-color:  rgb(114, 190, 193);
    color: #ffffff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 15px;
}

.top-button:hover {
    background-color:rgb(114, 190, 193);
}






@media (max-width: 700px) {
    .banner-title {
        margin: 70px 30px;
    }

    .banner-title h1 {
        font-size: 40px;
    }

    .nav-bar {
        padding: 10px 30px;
    }

    .nav-logo img {
        width: 50%;
    }

    .nav-links ul a {
        display: block;
    }

    .nav-links .btn {
        float: none;
        margin-left: 25px;
        margin-top: 10px;
    }

    .container-plantbased {
        display: none;
    }

}