* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

li, a, button {
    font-weight: 500;
    font-size:  16px;
    color: rgb(14, 14, 14);
    text-decoration: none;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;

}

.nav_links a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: rgb(255, 12, 12);
}

header {
    display: flex;
    justify-content:space-between;
    align-items:center;
    padding: 5px 10%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.294);
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    background-color: #ffffff;
    height: 100vh;
}

.navbar {
    box-shadow: 0 5px 10px #eee;
}

.underline {
    text-decoration: underline;
    text-decoration-color: rgb(255, 12, 12);
    text-decoration-style:solid;
    text-decoration-thickness: 5%;
}

.banner-info, .banner-image {
    margin: 30px 0;
}